
.overlay{
	display: block;
	padding-top: 10px;

	align-content: stretch
}
.Face_me {
	float:left;	
	margin-right: 10px;
}
.Face_me{
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.About_Text {
	float:right;
	font-size:20px;
	padding: 10px;
	background-color: none;
	color:#99ff99;
}
.About_Text a:link {
	color:#33ccff
}

.About_Text a:visited {
	color:#33ccff
}
