
.overlay{
	display: flex;
	padding-top: 10px;
	flex-direction: row;

}
.Face_me {
	float:left;	
	margin-right: 10px;
}
.Face_me,.About_Text{
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.About_Text {
	font-size:20px;
	flex-grow:1;
	padding: 10px;
	background-color: #f1f1f1;
}
