body {
	background-color: #0e4023;
}

h1 {
	text-align: center;
	color: blue;
	font-family: Ink Free;
}
.TiTle {
	border-style: none none solid none; 
	border-width: 4px;
	border-color: black;
	background-color: #708275;
	margin: 0px -25px 25px;
}
.Top_menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width:100%;
	overflow: hidden;
	background-color: #7fa180;

}
li {
	float:left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

