body {
	background-color: #3b5249;
}

.face{
	border-style: solid;
	border-width: 2px;
	border-color:black;
	
}

h1 {
	text-align: center;

	font-family: Ink Free;
}
.TiTle {
	border-style: none none solid none; 
	border-width: 4px;
	border-color: black;
	background-color: #519872;
	background-size:cover;
	margin: 0px 0px 25px;
}
.Top_menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width:100%;
	overflow: hidden;
	background-color: #382933;

}
li {
	float:left;
	
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #321d5c;
}
