* {
	margin:0px auto;
	padding:0;
	box-sizing:border-box;
	max-width:100%;
}

body {
	background-color: #015249;
}


.back{
	display:block;
	margin:auto;
	width:10%;
}

.brand img{
	position:absolute;
	right:50%;
	overflow:auto;
	flex:1;
}

.brand img{
	margin-left:auto;
	margin-right:auto;
	width=50%;
}

.Top_menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width:100%;
	overflow: hidden;
	background-color: #011618
	;

}
li {
	float:left;
	
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size:20px;
  
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


li a:hover {
	background-color: #0b0614;
}

.active {
	background-color: #321d5c;
}
